body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
  background-color: #f0f0f0;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}

#app {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #f0f0f0;
  position: relative;
  overflow: hidden;
}

textarea {
  resize: none;
  padding: 10px;
}
textarea::placeholder {
  font-size: 12px;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

.editor {
  flex: 1;
  position: relative;
  margin: 10px;
  background-color: white;
  overflow: hidden;
}

/* START - COMPONENT CSS */

.draggable-component {
  width: 90px;
  height: 50px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  color: rgb(126, 126, 126);
  text-align: center;
  margin-bottom: 10px;
  cursor: grab;
  border-radius: 5px;
  border: 1px solid rgba(215, 215, 215, 0.817);
  transition: all 0.3s;
}

.draggable-component:hover {
  box-shadow: 1px 2px 2px 0 rgba(215, 215, 215, 0.817);
}

.draggable-component-icon {
  width: 90px;
  height: 30px;
  background-size: 100%;
}

.draggable-component-text {
  line-height: 0;
  background-color: blue;
}

.dropped-component {
  position: relative;
  width: 120px;
  height: 40px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
  background-color: rgb(126, 126, 126);
  cursor: grab;
}

.dropped-component.clicked::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0);
  border: 3px solid #b7b7b7;
  border-radius: 8px;
}

/* END - COMPONENT CSS */

/* START - SIDE BAR CSS */

.sidebar {
  width: min-content;
  max-height: 100vh;
  background-color: #f0f0f0;

  color: #fff;
  padding: 0 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 10px;

  left: 8px;
  top: 8px;

  position: absolute;
  padding-bottom: 5px;

  z-index: 10;
}

.category {
  width: 200px;
}

.category p[data-category] {
  width: 200px;
  height: 40px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  text-align: center;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.511);
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 2px 2px 0 rgba(215, 215, 215, 0.817);
  transition: all 0.3s;
}

.category p[data-category]:hover {
  box-shadow: 0px 0px 0px 0 rgba(198, 198, 198, 0.662);
}

.components {
  width: 200px;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}
/* END - SIDE BAR CSS */

.css-sidebar {
  width: min-content;
  max-height: 100vh;
  background-color: #f0f0f0;

  color: #fff;
  padding: 0 10px;
  padding-bottom: 10px;

  border-radius: 10px;

  position: absolute;
  right: 8px;
  top: 8px;
  overflow-y: scroll;
  overflow-x: hidden;

  z-index: 10;
}
.css-sidebar-wrapper p {
  width: 120px;
  height: 40px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  text-align: center;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.511);
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 2px 2px 0 rgba(215, 215, 215, 0.817);
  transition: all 0.3s;
}

.css-sidebar-wrapper p:hover {
  box-shadow: 0px 0px 0px 0 rgba(198, 198, 198, 0.662);
}

.form {
  background-color: red;
}

.dragable-style {
  border: 1px solid #000;
  border-radius: 10px;
  cursor: pointer;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#css-form input {
  border: none;
  padding: 5px;
  border-radius: 5px;
  width: 120px;
}

.css-form-submit-input {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  border: none;
  padding: 5px;
  border-radius: 5px;

  transition: all 0.3s;
}
.css-form-submit-input:hover {
  background-color: rgb(99, 255, 148);
  cursor: pointer;
}

.export-button {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  background-color: #a0a0a0;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  color: white;
  transition: all 0.3s;
}

.export-button:hover {
  background-color: #31c857;
  cursor: pointer;
}

.remove-button {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  background-color: #c63535;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  color: white;
  transition: all 0.3s;
}

.remove-button:not([disabled]):hover {
  cursor: pointer;
  background-color: #ff0000;
}

.remove-button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.dynamic-field {
  font-size: 14px;
  margin-top: 5px;
  display: block; /* Ensures each label and input takes a new line */
}

.close-button {
  background-color: #e8e8e8;
  display: block;
  height: 20px;
  width: 20px;
  align-self: flex-end;
  border: none;
  border-radius: 4px;
  transition: 0.3s;

  position: absolute;
  margin-top: 5px;
  margin-right: 5px;
}

.close-button:hover {
  cursor: pointer;
  background-color: red;
}

.add-close-button {
  background-color: #e8e8e8;
  display: block;
  height: 20px;
  width: 20px;
  align-self: flex-end;
  border: none;
  border-radius: 4px;
  transition: 0.3s;

  position: absolute;
  margin-top: 5px;
  margin-right: 5px;
}

.add-close-button:hover {
  cursor: pointer;
  background-color: red;
}

.update-close-button {
  background-color: #e8e8e8;
  display: block;
  height: 20px;
  width: 20px;
  align-self: flex-end;
  border: none;
  border-radius: 4px;
  transition: 0.3s;

  position: absolute;
  margin-top: 5px;
  margin-right: 5px;
}

.update-close-button:hover {
  cursor: pointer;
  background-color: red;
}

.function-input {
  width: 100%;
  height: 80%;
  background-color: #e8e8e8;
  color: rgb(0, 0, 0);
  font-size: 12px;
  border: none;
  border-radius: 5px;
}

.add-function {
  background-color: #1e1e1e97;
  width: 100vw;
  height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;

  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translate(-50%, 50%);
  transition: bottom 1s ease;
  z-index: 11;
}

.add-function.visible {
  bottom: 50%;
}

.add-function-wrapper {
  width: 400px;
  height: 250px;

  padding: 10px;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  justify-content: space-between;

  transition: bottom 1s ease;

  background-color: #c8c8c8;
}

.add-function-button {
  margin-top: 10px;
  width: 100%;
  background-color: #6f7b87;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  border: none;
}

.add-function-submit {
  width: 100%;
  height: 30px;
  background-color: #a0a0a0;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  color: white;
  transition: all 0.3s;

  cursor: pointer;
}

.add-function-submit:hover {
  background-color: #31c857;
}

.add-function-button:not([disabled]):hover {
  cursor: pointer;
  background-color: #525b64;
}

.add-function-button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.add-state {
  background-color: #1e1e1e97;
  width: 100vw;
  height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;

  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translate(-50%, 50%);
  transition: bottom 1s ease;

  z-index: 11;
}

.add-state.visible {
  bottom: 50%;
}

.add-state-wrapper {
  width: 400px;
  height: 250px;

  padding: 10px;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  justify-content: space-between;

  transition: bottom 1s ease;

  background-color: #c8c8c8;
}

.add-state-button {
  display: none;
  margin-top: 10px;
  width: 100%;
  background-color: #6f7b87;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  border: none;
}

.add-state-submit {
  width: 100%;
  height: 30px;
  background-color: #a0a0a0;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  color: white;
  transition: all 0.3s;

  cursor: pointer;
}

.add-state-submit:hover {
  background-color: #31c857;
}

.add-state-button:not([disabled]):hover {
  cursor: pointer;
  background-color: #525b64;
}

.add-state-button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.add-state-button {
  margin-top: 10px;
  width: 100%;
  background-color: #6f7b87;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  border: none;
}

.add-state-button:not([disabled]):hover {
  cursor: pointer;
  background-color: #525b64;
}

.add-state-button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.update-state {
  background-color: #1e1e1e97;
  width: 100vw;
  height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;

  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translate(-50%, 50%);
  transition: bottom 1s ease;

  z-index: 11;
}

.update-state.visible {
  bottom: 50%;
}

.update-state-wrapper {
  width: 400px;
  height: 250px;

  padding: 10px;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  justify-content: space-between;

  transition: bottom 1s ease;

  background-color: #c8c8c8;
}

.update-state-button {
  display: none;
  margin-top: 10px;
  width: 100%;
  background-color: #6f7b87;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  border: none;
}

.update-state-submit {
  width: 100%;
  height: 30px;
  background-color: #a0a0a0;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  color: white;
  transition: all 0.3s;

  cursor: pointer;
}

.update-state-submit:hover {
  background-color: #31c857;
}

.update-state-button:not([disabled]):hover {
  cursor: pointer;
  background-color: #525b64;
}

.update-state-button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.update-state-button {
  margin-top: 10px;
  width: 100%;
  background-color: #6f7b87;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  border: none;
}

.update-state-button:not([disabled]):hover {
  cursor: pointer;
  background-color: #525b64;
}

.update-state-button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.update-state {
  background-color: #1e1e1e97;
  width: 100vw;
  height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;

  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translate(-50%, 50%);
  transition: bottom 1s ease;
}

.update-state.visible {
  bottom: 50%;
}

.update-state-wrapper {
  width: 400px;
  height: 250px;

  padding: 10px;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  justify-content: space-between;

  transition: bottom 1s ease;

  background-color: #c8c8c8;
}

.update-state-button {
  margin-top: 10px;
  width: 100%;
  background-color: #6f7b87;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  border: none;
}

.update-state-submit:not([disabled]) {
  width: 100%;
  height: 30px;
  background-color: #a0a0a0;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  color: white;
  transition: all 0.3s;

  cursor: pointer;
}

.update-state-submit:not([disabled]):hover {
  background-color: #31c857;
}

.update-state-submit[disabled] {
  width: 100%;
  height: 30px;
  background-color: #a0a0a0;
  opacity: 0.5;
  cursor: not-allowed;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  color: white;
  transition: all 0.3s;
}

.update-state-button:not([disabled]):hover {
  cursor: pointer;
  background-color: #525b64;
}

.update-state-button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.update-state-button {
  margin-top: 10px;
  width: 100%;
  background-color: #6f7b87;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  border: none;
}

.update-state-button:not([disabled]):hover {
  cursor: pointer;
  background-color: #525b64;
}

.update-state-button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.state-input {
  width: 100%;
  height: 80%;
  background-color: #e8e8e8;
  color: rgb(0, 0, 0);
  font-size: 12px;
  border: none;
  border-radius: 5px;
}
.add-state-input {
  width: 100%;
  height: 80%;
  background-color: #e8e8e8;
  color: rgb(0, 0, 0);
  font-size: 12px;
  border: none;
  border-radius: 5px;
}
.update-state-input {
  width: 100%;
  height: 80%;
  background-color: #e8e8e8;
  color: rgb(0, 0, 0);
  font-size: 12px;
  border: none;
  border-radius: 5px;
}

.popup-message {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px;

  color: #ecf0f1;
  font-size: 12px;
  border: none;
  border-radius: 3px;
  padding: 10px;
  z-index: 1;
  transition: 0.5s ease;
}

.popup-message.show {
  top: 20px;
  opacity: 1;
  background-color: #10de8c;
}

.popup-message.error {
  top: 20px;
  opacity: 1;
  background-color: #ff0000;
}

.state-button-group {
  width: 120px;
  height: 40px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  text-align: center;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.511);
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 2px 2px 0 rgba(215, 215, 215, 0.817);
  transition: all 0.3s;
  margin-top: 10px;
}

.state-button-group:hover {
  box-shadow: 0px 0px 0px 0 rgba(198, 198, 198, 0.662);
}

.state-list-button {
  border: none;
  width: 120px;
  height: 40px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  text-align: center;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.511);
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 2px 2px 0 rgba(215, 215, 215, 0.817);
  transition: all 0.3s;
  margin-top: 10px;
}

.state-list-button:hover {
  box-shadow: 0px 0px 0px 0 rgba(198, 198, 198, 0.662);
}

.state-list-name {
  color: rgb(126, 126, 126);
  box-shadow: 1px 2px 2px 0 rgba(215, 215, 215, 0.817);
  padding: 5px;
  margin: 0;
  transition: all 0.3s;
}

.state-list-name:not([disabled]):hover {
  box-shadow: 0px 0px 0px 0 rgba(198, 198, 198, 0.662);
}

.state-list-name:nth-child(-n + 4) {
  margin-bottom: 5px;
}
.state-list-name:not([disabled]):hover {
  cursor: pointer;
}

.state-list-name[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.sidebar-textContent:hover {
  color: red;
}
